<section class="section section-experts">
    <div class="container experts-container">
        <h2 class="title title-experts">Product was Built Specifically for You</h2>
        <p class="sub-text">Do you require some help for your project: Conception workshop,
            prototyping, marketing strategy, landing page, Ux/UI?</p>
        <ul class="list-experts">
            <li class="item-experts">
                <div class="proposition">
                    <img src="../img/experts/4.jpg" alt="photo" class="photo">
                    <p class="text-experts">I can take care of your pitch</p>
                </div>
                <div class="proposition">

                    <p class="text-experts">I can take care of your pitch</p>
                    <img src="../img/experts/1.jpg" alt="photo" class="photo">
                </div>
            </li>
            <li class="item-experts marketing">
                <div class="proposition ">
                    <p class="text-experts">I can prototype your app</p>
                    <img src="../img/experts/3.jpg" alt="photo" class="photo">
                </div>
                <div class="proposition">
                    <img src="../img/experts/2.jpg" alt="photo" class="photo">
                    <p class="text-experts">I can help marketing strategy</p>

                </div>

            </li>
        </ul>

        <div class="experts-btn-wrapper"> <a class="button experts-link" href="">Contact our expert</a></div>

    </div>
</section>