<section class="section section-management">
    <div class="container management-container">
        <ul class="info">
            <li class=" block-management">
                <h3 class="subtitle">Effortless Validation for</h3>
                <h2 class="title">Management</h2>
                <p>The Myspace page defines the individual, his or her characteristics, traits, personal choices and the
                    overall personality of the person. </p>

                <ul class="list-management">
                    <li class="item-management">
                        <h4 class="subtitle-sub">Accessory makers</h4>
                        <p>While most people enjoy casino gambling, sports betting, lottery and bingo playing for the
                            fun</p>
                    </li>
                    <li class="item-management">
                        <h4 class="subtitle-sub">Alterationists</h4>
                        <p>If you are looking for a new way to promote your business that won’t cost you more money,
                        </p>
                    </li>
                </ul>
            </li>
            <li class="pic-management">
                <svg class="picture" width="350" height="306">
                    <use href="/img/icons.svg#management"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>