<section class="section section-price">
    <div class="container price-container">
        <h2 class="title title-price">Price Table</h2>
        <p class="about-price">We offer competitive price</p>
        <ul class="list-price">
            <li class="item-price">
                <div class="order">
                    <h2 class="title-order">Free</h2>
                    <h4 class="subtitle-order">Brief price description</h4>
                    <div class="block-price">
                    <p class="mony"><span class="number">0</span><span class="dolar">$</span>Per / month</p></div>
                   
                    <p class="word">Only 2 Operators</p>
                    <p class="word">Notifications</p>
                    <p class="word">Landing Pages</p>
                      <div class="price-btn-wrapper"> <a class="button price-link" href="">Order Now</a></div>
                </div>
            </li>
            <li class="item-price">
                <div class="order">
                    <h2 class="title-order">Standard</h2>
                    <h4 class="subtitle-order">Brief price description</h4>
                    <div class="block-price">
                    <p class="mony"><span class="number">5</span><span class="dolar">$</span>Per / month</p></div>
                
                    <p class="word">5+ Operators</p>
                    <p class="word">Notifications</p>
                    <p class="word">Landing Pages</p>
                      <div class="price-btn-wrapper"> <a class="button price-link" href="">Order Now</a></div>
                </div>
            </li>
            <li class="item-price">
                <div class="order">
                    <h2 class="title-order">Premium</h2>
                    <h4 class="subtitle-order">Brief price description</h4>
                    <div class="block-price">
                    <p class="mony"><span class="number">10</span><span class="dolar">$</span>Per / month</p></div>
               
                    <p class="word">10+ Operators</p>
                    <p class="word">Notifications</p>
                    <p class="word">Landing Pages</p>
                   
                      <div class="price-btn-wrapper"> <a class="button price-link" href="">Order Now</a></div>
                </div>
            </li>
        </ul>
    </div>
</section>