<section class="section section-strategies">
    <div class="container strategies-container">
        <h2 class="title title-strategies">Contents Strategies</h2>
        <p class="about">We focus on ergonomics and meeting you where you work. It's only a keystroke away. </p>
<ul class="list-strategies">
    <li class="item-strategies">
        <div class="content">
            <img src="../img/strategies/1.jpg" alt="strategy" class="strategy-photo">
            <h5 class="subtitle-strategies">By  <span class="ari">Wahid Ari</span>|  03 March 2019</h5>
            <h4 class="block-subtitle">Increasing Prosperity With Positive Thinking</h4>
            
                    </div>
    </li>
    <li  class="item-strategies">
        <div class="content">
            <img src="../img/strategies/2.jpg" alt="strategy" class="strategy-photo">
            <h5 class="subtitle-strategies">By <span class="ari">Wahid Ari</span> |  03 March 2019</h5>
            <h4 class="block-subtitle">Motivation Is The First Step To Success</h4>
        </div>
    </li>
    <li  class="item-strategies">
        <div class="content">
            <img src="../img/strategies/3.jpg" alt="strategy" class="strategy-photo">
            <h5 class="subtitle-strategies">By <span class="ari">Wahid Ari</span> |  03 March 2019</h5>
            <h4 class="block-subtitle">Success Steps For Your Personal Or Business</h4>
        </div>
    </li>
</ul>
        </div>
    </section>